body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products-view {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 33rem;
}

.single-product {
  padding: 3rem;
}

.product-img {
  width: 90%;
  height: 15rem;
}
